/* Content*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  color: $c-primary;

  @media (min-width: $md-min) {
    flex-direction: row;
    padding-top: 0;
  }

  &__content {
    margin-top: 35px;

    @media (min-width: $md-min) {
      height: 100%;
      width: 100%;
    }

    @media (min-width: $lg-min) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 145px;
    }

    @media (min-width: $lg-min) and (max-width: $lg-max) {
      padding-left: 20px;
      padding-right: 10px;
    }

    @media (min-width: $xl-min) {
      margin-left: 60px;
    }
  }

  &__tagline {
    margin-bottom: 7px;
    font-size: $f-size-text-xs;
    font-weight: 700;
    color: $c-primary;
    text-align: center;
    letter-spacing: 4px;
    
    @media (min-width: $md-min) and (max-width: $md-max) {
      display: none;
    }
  }

  &__title {
    text-align: center; 
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 27px;
    font-weight: 900;
    font-size: $f-size-title-xs;
    color: $c-primary;
    line-height: 1.2;

    @media (min-width: $md-min) {
      position: absolute;
      width: 621px;
      padding-left: 21px;
      font-size: $f-size-subtitle-lg;
      text-align: center;
      line-height: 1.1;
    }

    @media (min-width: $md-min) and (max-width: $md-max) {
      right: 304px; 
      transform: rotate(-90deg);
    }

    @media (min-width: $lg-min) {
      position: unset;
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
      padding-left: 0;
      text-align: left;
    }

    @media (min-width: $xl-min) {
      width: 621px;
    }

    span {
      color: $c-info-hover;
    }
  }

  &__subtitle {
    margin: 31px 71px 0 70px;
    font-size: $f-size-nav-ml;
    font-weight: 300;
    text-align: center;

    @media (min-width: $md-min) and (max-width: $md-max) {
      display: none;
    }

    @media (min-width: $lg-min) {
      margin-left: 0;
      margin-top: 27px;
      font-size: $f-size-subtitle-xs;
      text-align: left;
    }
  }

  &__text {
    margin-top: 38px;
    font-size: $f-size-nav-xs;
    font-weight: 700;
    color: $c-info-hover;
    text-align: center;
    letter-spacing: 3px;
    
    @media (min-width: $md-min) and (max-width: $md-max) {
      display: none;
    }

    @media (min-width: $lg-min) {
      margin-top: 53px;  
      font-size: $f-size-text-xs;
      letter-spacing: 4px;
    }
  }

  /* Buttons*/
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @media (min-width: $lg-min) {
      margin-top: 45px;
    }
  }

  .btn-primary {
    @media (min-width: $md-min) and (max-width: $md-max) {
      display: none;
    }
  }

  .btn-gray {
    @media (min-width: $md-min) and (max-width: $md-max) {
      display: none;
    }
  }

  &__btn-main {
    width: 277px;
    height: 50px;
    margin-top: 28px;
    padding-left: 20px;

    @media (min-width: $md-min) and (max-width: $md-max) {
        display: none;
    }

    &:hover {
        background-color: $c-info-hover;
        border-color: $c-info-hover;
    }
    
    .arrow {
      bottom: 7px;
      left: 2px;
    }
  }

/* Image*/
  &__image {
    @media (min-width: $md-min) {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      height: 904px;
      width: 536px;
      background: $c-info-hover;
      border-radius: 58px;
    }

    @media (min-width: $lg-min) {
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%;
    }

    @media (min-width: $xxl-min) {
      width: 710px;
    }

    &::before {
      @media (min-width: $md-min) {
        content: '';
        position: absolute;
        width: 415px;
        height: 611px;
        bottom: 80px;
        margin-left: 32px;
        border: 6px solid $c-primary;
      }

      @media (min-width: $lg-min) {
        width: 458px;
        margin-left: 22px;
      }
    }

    &::after {
      @media (min-width: $md-min) {
        content: '';
        position: absolute;
        height: 776px;
        width: 518px;
        right: 0;
        bottom: 0;
        background-image: url('/resources/images/hero.webp');
        background-repeat: no-repeat;
      }

      @media (min-width: $lg-min) {
        height: 759px;
        width: 566px;
        right: inherit;
        margin-left: 10px;
        background-image: url('/resources/images/hero_desktop.webp');
      }
    }
  }
}
