.header {
  position: absolute;
  left: 0;
  right: 0;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 13px;

    @media (min-width: $md-min) {
      justify-content: space-between;
      padding-right: 70px;
      margin: 48px 27px 0 30px;
    }

    @media (min-width: $lg-min) {
      padding-right: 0;
      margin-left: 10px;
    }

    @media (min-width: $xxl-min) {
      justify-content: space-between;
      margin: 44px 59px 0 52px;
    }

    @media (min-width: $xxxl-min) {
      max-width: 1320px;
      padding: 0;
      margin: 44px auto 0;
    }
  }

  &__logo {
    img {
      @include size(140px, 56px);
      margin-top: 6px;
      margin-left: 0;

      @media (min-width: $md-min) {
        @include size(184px, 74px);
      }
    }
  }

  &__navigation {
    display: none;
    font-size: $f-size-nav-ml;

    @media (min-width: $lg-min) {
      z-index: 1;
      display: flex;
    }

    &__nav:not(:first-child) {
      @media (min-width: $xl-min) {
        padding-right: 20px;
      }
    }

    ul li:not(:first-child) {
      padding-top: 19px;

      @media (min-width: $md-max) {
        padding-top: 0;
        margin-right: 15px;
      }
    }

    ul {
      padding-left: 30px;
      margin-top: 106px;

      @media (min-width: $sm-min) {
        text-align: center;
      }

      @media (min-width: $lg-min) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        margin-top: 25px;
      }

      li {
        padding: 9px 5px 0 7px;
        letter-spacing: 4px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: $f-size-nav-ml;
        list-style-type: none;

        @media (min-width: $lg-min) {
          display: flex;
          padding: 0;
          font-size: $f-size-text-xs;
        }

        @media (min-width: $xl-min) {
          font-size: $f-size-text-sm;
        }

        a {
          margin: 10px 15px;
          font-weight: 700;
          color: $c-primary;
          text-decoration: none;
          line-height: 3.55;
          border-bottom: 2px solid rgba(0, 0, 0, 0);

          @media (min-width: $lg-min) {
            line-height: 2;
            letter-spacing: 0;
            white-space: nowrap;
          }

          @media (min-width: $lg-min) and (max-width: $xl-min) {
            margin: 0px 0px 0px 15px;
          }

          &:hover {
            border-bottom: 2px solid black;
          }
        }
      }
    }
  }

  &__btn-book {
    -webkit-text-stroke-width: 0.04em;
    -webkit-text-stroke-color: black;

    @media (min-width: $lg-min) {
      display: block;
      max-width: 223px;
      margin-top: 0;
      font-size: $f-size-text-xs;
      white-space: nowrap;
    }

    p {
      text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    }

    .arrow {
      bottom: 12px;
      margin-left: 0;

      @media (min-width: $md-min) {
        bottom: 8px;
        left: 4px;
      }

      @media (min-width: $lg-min) and (max-width: $lg-max) {
        display: none;
      }
    }

    &:hover {
      color: $c-info-hover;
      background-color: $c-arrow;
      transition: background-color 0.33s linear;
    }

    &:hover {
      .arrow__direction,
      .arrow__direction::before,
      .arrow__direction::after {
        background-color: $c-info-hover;
      }
    }
  }

  &__btn-main {
    display: block;
    max-width: 100%;
    @include size(310px, 60px);
    margin: 63px auto 0 auto;

    .arrow {
      @media (min-width: $md-min) {
        bottom: 12px;
      }
    }

    @media (min-width: $lg-min) {
      display: none;
    }
  }

  &__btn-additional {
    z-index: 2;
    display: none;
    @include size(310px, 50px);
    margin-left: auto;

    @media (min-width: $md-min) {
      display: block;
      max-width: 223px;
      margin: 3px 24px 10px 0;
      font-size: $f-size-text-xs;
    }

    @media (min-width: $lg-min) and (max-width: $xl-min) {
      max-width: 190px;
    }

    @media (min-width: $xl-min) {
      margin: 14px 1px 10px 0;
    }

    .arrow__direction {
      width: 10px;
    }
  }
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
  @include size(50px, 50px);
  padding: 0;
  background: none;
  border: $c-arrow;
  cursor: pointer;

  @media (min-width: $lg-min) {
    display: none;
  }
}

.burger__lines {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(40px, 29px);

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 5px;
    background-color: $c-primary;
    transition: 0.2s ease all;
    border-radius: 20px;
  }

  &::before {
    top: 6px;
    left: -9px;
    width: 28px;
    margin-left: 6px;
  }

  &::after {
    left: 4px;
    bottom: -9px;
    width: 31px;
    margin-left: 6px;
  }

  span {
    @include size(51px, 6px);
    margin-top: 16px;
    background-color: $c-primary;
    transform: scale(1);
    border-radius: 20px;
  }
}

.open-menu .header__navigation {
  @media (max-width: $lg-min) {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    @include size(100%, 100%);
    background-color: $c-info-hover;
    overflow: auto;
  }
}

body .open-menu {
  @media (max-width: $lg-min) {
    overflow: hidden;
  }
}

.open-menu {
  .header__logo {
    @media (max-width: $lg-min) {
      display: none;
    }
  }

  .header__btn-additional {
    @media (max-width: $lg-min) {
      display: none;
    }
  }

  .burger {
    @media (max-width: $lg-min) {
      position: fixed;
      @include size(43px, 43px);
      top: 35px;
      right: 13px;
      z-index: 6;
      background-color: $c-primary;
      border-radius: 50%;

      &:hover {
        background-color: $c-info-hover;
        transition: background-color 0.33s linear;
      }
    }
  }

  .burger .burger__lines::before {
    @media (max-width: $lg-min) {
      top: 8px;
      left: 1%;
      @include size(23px, 2px);
      background-color: $c-arrow;
    }
  }

  .burger .burger__lines::after {
    @media (max-width: $lg-min) {
      top: 6px;
      left: 1px;
      right: 0;
      bottom: 18px;
      @include size(23px, 2px);
      background-color: $c-arrow;
    }
  }

  .header__navigation {
    @media (max-width: $lg-min) and (max-width: $xl-min) {
      font-size: $f-size-nav-xs;
    }
  }

  .burger__lines {
    @media (max-width: $lg-min) {
      top: 6px;
      left: 3px;

      &::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }

      &::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }

      span {
        transform: scale(0);
      }
    }
  }
}
