.card {
  display: flex;
  flex-direction: column;
  max-width: 388px;
  padding: 30px 23px 40px 30px;
  margin: 38px auto 0;
  background: $c-arrow;
  border-radius: 40px;
  box-shadow: 0px 4px 16px rgba(51, 60, 79, 0.16);

  @media (min-width: $md-min) {
    display: flex;
    flex-direction: column;
    max-width: 368px;
    padding: 30px 31px 40px 25px;
    margin-top: 0;
  }

  @media (min-width: $xxl-min) {
    width: 315px;
    padding: 30px 38px 32px 25px;
  }

  &__image {
    position: relative;
    display: inline-block;
    @include size(83px, 83px);
    margin: 1px 0 0 5px;
    background-color: $c-info-hover;
    border-radius: 50%;

    img {
      z-index: 1;
      position: absolute;
    }

    .card__img-leather {
      top: -4px;
      left: 15px;
    }

    .card__img-ball {
      top: -12px;
      left: 17px;
    }

    .card__img-needle {
      top: -9px;
      left: 10px;
    }

    .card__img-hanger {
      top: -9px;
    }
  }

  &__content {
    margin-bottom: 36px;

    @media (min-width: $md-min) {
      margin-bottom: 15px;
    }

    @media (min-width: $xxl-min) {
      margin-bottom: 13px;
    }
  }

  &__title {
    margin: 31px 0 18px;
    font-size: $f-size-nav-ml;
    font-weight: 700;
    color: $c-primary;

    @media (min-width: $md-min) {
      margin-top: 32px;
    }
  }

  &__subtitle {
    margin-bottom: 26px;
    font-size: $f-size-nav-xs;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: $c-subtitle;
  }

  &__text {
    font-size: $f-size-text-sm;
    font-weight: 400;
    line-height: 1.4;
    color: $c-text;

    @media (min-width: $md-min) {
      line-height: 1.42;
    }
  }

  &__button {
    position: relative;
    @include size(57px, 57px);
  }
}
