*,
::after,
::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-width: 360px;

  @media (min-width: $md-min) {
    background-color: $c-background;
  }
}

.main {
  font-family: $font-primary;
}

.btn-primary {
  display: inline-block;
  font-family: $font-primary;
  font-weight: 700;
  border-radius: 35px;
  transition: 0.2s ease all;
  cursor: pointer;
  white-space: wrap;
  box-shadow: 0 4px 16px rgba(51, 60, 79, 0.3);
}

.btn-gray {
  position: relative;
  font-size: $f-size-text-xs;
  color: $c-text-btn;
  background-color: $c-primary;
  border: $c-primary;
}

.btn-blue-center {
  position: relative;
  font-size: $f-size-text-xs;
  color: $c-text-btn;
  background-color: $c-info-hover;
  border: $c-primary;
}

.arrow {
  position: absolute;
  cursor: pointer;
}
.arrow--small {
  width: 24px;
  height: 24px;
}
.arrow_size-m {
  width: 35px;
  height: 35px;
}

.arrow_size-l {
  width: 49px;
  height: 49px;
}

.arrow__direction {
  position: relative;
  display: block;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  &::after,
  &::before {
    content: '';
    position: absolute;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    content: '';
    position: absolute;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(-45deg);
  }
}

.arrow_white {
  top: 17px;
  left: 16px;
  width: 9px;
  height: 1px;
  background-color: $c-arrow;

  @media (max-width: $md-max) {
    width: 16px;
  }

  @media (min-width: $lg-min) and (max-width: $xl-min) {
    width: 11px;
  }

  &::after,
  &::before {
    top: -2px;
    right: -2px;
    width: 7px;
    height: 1px;
    background-color: $c-arrow;
  }

  &::after {
    top: -2px;
    right: -2px;
  }

  &::before {
    top: 2px;
    right: -2px;
  }
}

.arrow_grey-m {
  top: 27px;
  left: 16px;
  width: 22px;
  height: 2px;
  background-color: $c-primary;

  &::after,
  &::before {
    top: -2px;
    right: -2px;
    width: 11px;
    height: 2px;
    background-color: $c-primary;
  }

  &::after {
    top: -4px;
    right: -1px;
  }

  &::before {
    top: 4px;
    right: -1px;
  }
}

.container {
  padding: 0 20px;

  @media (min-width: $md-min) {
    padding: 0 38px;
  }

  @media (min-width: $xl-min) {
    padding: 0 60px;
  }
}
