// COLOR
$c-primary: #333c4f;
$c-info-hover: #479cfc;
$c-text: #000000;
$c-text-btn: aliceblue;
$c-arrow: #FFFF;
$c-subtitle: #9697AB;
$c-background:#fcfcfc;

// MEDIA QUERIES
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xxl-min: 1400px;

$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;

// FONT
$f-size-nav-xs: 10px;
$f-size-nav-ml: 20px;
$f-size-text-xs: 12px;
$f-size-text-sm: 14px;
$f-size-text-ml: 16px;
$f-size-title-xs: 30px;
$f-size-subtitle-xs: 24px;
$f-size-subtitle-sm: 32px;
$f-size-subtitle-m: 36px;
$f-size-subtitle-lg: 46px;
$f-size-subtitle-xxl: 64px;


$font-primary: 'Montserrat', Arial, sans-serif;
